ul#flickr li div                { background-color: #000; color: #fefefe; }

#content h1                     { letter-spacing: -1px; 
                                  font-family: impact,sans-serif !important;
                                  font-weight: normal; }
                                /**/
